.profile__info {
  color: #ffffff;
  max-width: 336px;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: min-content 1fr;
  gap: 16px;
  padding-left: 26px;
}

@media screen and (max-width: 459px) {
  .profile__info {
    margin: 0 auto;
    text-align: center;
  }
}
