.popup__deleteConfirm {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 34px 36px 37px 36px;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 430px;
    min-height: 181px;
    border-radius: 10px;
}

@media screen and (max-width: 470px) {
  .popup__deleteConfirm {
    width: 91.5vw;
    height: auto;
    padding: 34px 30px 37px 30px;
  }
}

@media screen and (max-width: 320px) {
  .popup__deleteConfirm {
    width: 282px;
    height: auto;
    padding: 25px 22px;
  }
}