.profile__image {
  margin: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s linear;
  position: relative;
}

 .profile__image::before {
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: 0;
    transition: opacity 0.7s linear; 
}

/* .profile__image:hover {
  opacity: 1;
} */

.profile__image:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 459px) {
  .profile__image {
    margin: 0 auto 24px auto;
    text-align: center;
  }
}