@media screen and (max-width: 879px) {
    .elements__extraStyle::after {
      content: '';
      flex: auto;
      display: block;
      max-width: 282px;
    }
  }
  
  @media screen and (max-width: 580px) {
    .elements__extraStyle::after{
      display: none;
    }
  }